@font-face {
  font-family: WorkSans;
  src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

body, p {
  margin: 0;
}
body {
  font-family: WorkSans;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}